workflows/n8n-production-workflow.json
{
  "name": "youtube_post_repeater_production",
  "description": "Production-oriented n8n workflow for scheduled YouTube community scraping, Telegram delivery routing, and Telegram failure alerts. Configure TELEGRAM_CHAT_ID and the YPR_* environment variables in the n8n container before enabling it.",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        200,
        230
      ],
      "id": "61e2b137-fd46-438c-98f1-fe91fc23098e",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "notes": "Run on your preferred interval."
    },
    {
      "name": "Run CLI",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        440,
        230
      ],
      "parameters": {
        "command": "sh -lc 'cd /workspace/youtube_post_repeater && fixture_args=\"\"; state_file=\"${YPR_STATE_FILE:-./state.sqlite3}\"; if [ -n \"${YPR_FIXTURE_FILE:-}\" ]; then fixture_args=\" --fixture-file ${YPR_FIXTURE_FILE}\"; state_file=\"/tmp/ypr-fixture-state-$$.sqlite3\"; fi; raw_output=$(YPR_PRIMARY_BIN=\"${YPR_PRIMARY_BIN:-/usr/local/bin/post-archiver}\" python3 app.py --source primary --channel \"${YPR_CHANNEL:?Missing YPR_CHANNEL}\" --limit \"${YPR_FETCH_LIMIT:-3}\" --json --state-file \"${state_file}\" --state-backend \"${YPR_STATE_BACKEND:-sqlite}\" --log-file \"${YPR_LOG_FILE:-./logs/latest.jsonl}\"${fixture_args} 2>&1); status=$?; escaped_output=$(printf \"%s\" \"$raw_output\" | python3 -c \"import json,sys; print(json.dumps(sys.stdin.read()))\"); printf \"{\\\"status\\\":%s,\\\"stdout\\\":%s}\\n\" \"$status\" \"$escaped_output\"; exit 0'"
      },
      "notes": "Runs inside a Dockerized n8n container that has python3 installed and this repo mounted at /workspace/youtube_post_repeater. Set YPR_FIXTURE_FILE to force fixture-based test data through the Telegram delivery path. The node always exits successfully and passes the CLI exit status forward so the workflow can notify on real failures."
    },
    {
      "name": "Parse CLI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        230
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first();\nconst source = input && input.json ? input.json : {};\n\nif (!source.stdout) {\n  return [{\n    json: {\n      status: 20,\n      payload: {},\n      route_type: 'error',\n      error_text: 'Parse CLI Result expected JSON input from Run CLI, but no stdout field was present. Execute the workflow from the trigger or run Run CLI first.',\n    },\n  }];\n}\n\nlet envelope;\ntry {\n  envelope = JSON.parse(source.stdout);\n} catch (error) {\n  return [{\n    json: {\n      status: 20,\n      payload: {},\n      route_type: 'error',\n      error_text: `Parse CLI Result could not decode the Run CLI envelope: ${error.message}`,\n    },\n  }];\n}\n\nlet payload;\ntry {\n  payload = JSON.parse(envelope.stdout || '{}');\n} catch (error) {\n  return [{\n    json: {\n      status: Number(envelope.status || 20),\n      payload: {},\n      route_type: 'error',\n      error_text: `Parse CLI Result could not decode the CLI payload JSON: ${error.message}`,\n    },\n  }];\n}\n\nconst status = Number(envelope.status || 0);\nconst base = {\n  status,\n  payload,\n};\nif (status === 20 || payload.ok === false) {\n  return [{\n    json: {\n      ...base,\n      route_type: 'error',\n      error_text: [\n        'YouTube post repeater failed.',\n        `Channel: ${payload.channel || 'unknown'}`,\n        `Exit status: ${status}`,\n        payload.error ? `Error: ${payload.error}` : 'Error: CLI returned a non-success status without an error message.',\n      ].join('\\n'),\n    },\n  }];\n}\nreturn [{\n  json: {\n    ...base,\n    route_type: 'posts',\n  },\n}];"
      },
      "notes": "Parse the CLI result envelope. status=20 or payload.ok=false becomes an error-notification item; status=0 or 10 continues to post expansion."
    },
    {
      "name": "Route CLI Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        960,
        230
      ],
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{$json.route_type}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "posts",
              "outputKey": "posts"
            },
            {
              "operation": "equal",
              "value2": "error",
              "outputKey": "error"
            }
          ]
        }
      },
      "notes": "Output 0=normal post flow, 1=error notification flow."
    },
    {
      "name": "Expand Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const payload = $json.payload || {};\nconst hasUsableImage = (url) => typeof url === 'string' && url.trim() !== '' && !url.includes('example.com');\nconst hasUsableMediaGroup = (media) => Array.isArray(media) && media.length > 0 && media.every((item) => hasUsableImage(item?.media));\nreturn (payload.posts || []).map((post, index) => {\n  let deliveryType = post.delivery_type;\n  if (deliveryType === 'photo' && !hasUsableImage(post.images?.[0])) {\n    deliveryType = 'message';\n  }\n  if (deliveryType === 'media_group' && !hasUsableMediaGroup(post.media)) {\n    deliveryType = 'message';\n  }\n  return {\n    json: {\n      channel: payload.channel,\n      fetched_at: payload.fetched_at,\n      post_index: index,\n      ...post,\n      delivery_type: deliveryType,\n    },\n  };\n});"
      },
      "notes": "Turn payload.posts[] into one item per post. When status=10 this emits no items, so the workflow stops quietly."
    },
    {
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1220,
        360
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{$json.error_text}}"
      },
      "notes": "Sends a Telegram alert when the CLI returns a real failure."
    },
    {
      "name": "Route Delivery Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1480,
        180
      ],
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{$json.delivery_type}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "message",
              "outputKey": "message"
            },
            {
              "operation": "equal",
              "value2": "photo",
              "outputKey": "photo"
            },
            {
              "operation": "equal",
              "value2": "media_group",
              "outputKey": "media_group"
            }
          ]
        }
      },
      "notes": "Output 0=message, 1=photo, 2=media_group."
    },
    {
      "name": "Prepare Message Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        50
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return ($json.message_chunks || []).map((chunk, index) => ({ json: { text: chunk, post_id: $json.post_id, chunk_index: index } }));"
      },
      "notes": "Use for delivery_type=message."
    },
    {
      "name": "Send Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2000,
        50
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{$json.text}}"
      },
      "notes": "Send each chunk as its own Telegram message. Attach your Telegram credentials after importing."
    },
    {
      "name": "Send Photo",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1740,
        180
      ],
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "file": "={{$json.images[0]}}",
        "additionalFields": {
          "caption": "={{$json.caption}}"
        }
      },
      "notes": "Use for delivery_type=photo. Attach your Telegram credentials after importing."
    },
    {
      "name": "Send Media Group",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1740,
        310
      ],
      "parameters": {
        "operation": "sendMediaGroup",
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "mediaGroup": "={{$json.media}}"
      },
      "notes": "Use for delivery_type=media_group. Attach your Telegram credentials after importing."
    },
    {
      "name": "Prepare Follow-up Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        245
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return ($json.followup_message_chunks || []).map((chunk, index) => ({ json: { text: chunk, post_id: $json.post_id, chunk_index: index } }));"
      },
      "notes": "Only emits items when caption was truncated."
    },
    {
      "name": "Send Follow-up Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2260,
        245
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{$json.text}}"
      },
      "notes": "Send extra text chunks after photo/media_group when needed."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run CLI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run CLI": {
      "main": [
        [
          {
            "node": "Parse CLI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CLI Result": {
      "main": [
        [
          {
            "node": "Route CLI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route CLI Result": {
      "main": [
        [
          {
            "node": "Expand Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Posts": {
      "main": [
        [
          {
            "node": "Route Delivery Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Delivery Type": {
      "main": [
        [
          {
            "node": "Prepare Message Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Media Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Chunks": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Prepare Follow-up Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Media Group": {
      "main": [
        [
          {
            "node": "Prepare Follow-up Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Follow-up Chunks": {
      "main": [
        [
          {
            "node": "Send Follow-up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
